.menu {
  margin: 0px;
}
.menu ul {
  padding: 0;
  list-style: none;
  text-align: left;
}
.menu ul li {
  float: left;
  text-align: left;
  width: 120px;
  margin: 1px;
  azimuth: center;
}
.menu ul li a  {
  color: Silver;
  text-decoration: none;
  font-family: Calibri;
  background-color: green;
  display: block;
  padding: 10px;
}
.menu ul li a:hover {
  background: #fff;
  color: Blue;
}
.menu ul li ul {
  display: none;
}
.menu ul li:hover ul {
  display: block;
}
#slider{ 
  margin:0;
  padding:0;
}

.btn
{
    position:center;
    background-color:gray;
    width:20px;
    height:9px;
    border-radius:12px;
    text-align:center;
    display:block;
    margin:3px;
    padding:2px;
    border:2px solid #000;
    cursor:pointer;
    opacity:0.1;
    transition:5s;
    top: -12px;
    left: 9px;
    scroll-snap-type: proximity;
}
    .btn:hover
    {
       opacity:1;
       transition:4sc;

        }
          .sliderbar ul
        {
            list-style:none;
            position:fixed;
            width:fixed auto;
            height:511px;
            background:blue;
    top:10px;
    left:1px;
    border-radius: 5px;
}
            .sliderbar ul li
            {
              margin:0px;
              margin-left: 0pt;
                padding:8px;
                 border-top:5px ;
                border-bottom:1px ;
                border-radius: 4px;
                }
               .sliderbar ul li a
                {
                  margin: 0pt;
                  padding-left:0px;
                    color:red;
                    display:blue;
                    text-decoration:none;
                    text-align: left;
                }
                       .sliderbar ul li:hover
                        {
                            background:#f3f5f9;
                            }
                           